<<<<<<< HEAD
{% load staticfiles %}
{% load help_tags %}

<div class="ui hidden positive message" id="message_saved">
    <i class="close icon"></i>
    <div class="header">Saved</div>
</div>

<form class="ui form" action="{% url "openhours:save" %}" method="post" id="openhours_form">
    {% csrf_token %}
    {% for form in hours_form %}
        {{ form.errors }}
        {{ form.id }}
        <div class="three fields">
            <div class="field {% if form.weekday.errors %} error {% endif %}">
                {% if forloop.first %}
                    <label>{{ form.weekday.label }}:</label>
                {% endif %} 
                {{ form.weekday }}
            </div>
            <div class="field {% if form.errors %} error {% endif %}">
                {% if forloop.first %}
                    <label>{{ form.from_hour.label }}:</label>
                {% endif %}
                <input type="text" class="timepicker" name="{{ form.from_hour.html_name }}" id="{{ form.from_hour.auto_id }}" value="{{ form.from_hour.value|time:"H : i" }}">
            </div>
            <div class="field {% if form.to_hour.errors %} error {% endif %}">
                {% if forloop.first %}
                    <label>{{ form.to_hour.label }}:</label>
                {% endif %}
                <input type="text" class="timepicker" name="{{ form.to_hour.html_name }}" id="{{ form.to_hour.auto_id }}" value="{{ form.to_hour.value|time:"H : i" }}">
            </div>
        </div>
    {% endfor %}
    {{ hours_form.management_form }}
    <button type="submit" class="ui button blue" id="openhourssave">Save</button>
</form>
<link rel="stylesheet" type="text/css" href="{% static "css/timepicker.css" %}">
<script type="text/javascript" src="{% static "js/timepicker.js" %}"></script>
<script type="text/javascript">
    $('.timepicker').timepicker({'timeFormat' : 'H:i'});
    $('select[name$="weekday"]').each(function (index) {
        $(this).val(index + 1);
    });
    $('#openhours_form').submit(function(event){
        event.preventDefault();
        var form = $(this);
        $.post({
            url : form.attr('action'),
            data : form.serialize()
        }).done(function(data){
            if (data == 'Saved') {
                $('#message_saved').removeClass('hidden');
            }
            else {
                form.parent().html(data);
            }
        });
    });
</script>
=======
<form class="ui form" action="" method="post">
	
</form>
>>>>>>> f05861d027f63da359789129484f87ba03d5c6a6
