{% if object.trainers.all %}
<table class="ui table">
	<thead>
		<tr>
			<th>Trainers</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for trainer in object.trainers.all %}
			<tr>
				<td>
					<a href="{% url "trainer:detail" trainer.pk %}">
						{{ trainer.user.first_name }} {{ trainer.user.last_name }}
					</a>
				</td>
				<td>
					<a class="refresh" href="{% url "support:remove" object.pk trainer.pk %}">
						<i class="large red remove icon"></i>
					</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<h3 class="ui header">
	You don't have any trainers yet, who are working on you.
</h3>
<h5 class="ui header">
	Advise: You can find they <a href="{% url "support:home" %}" class="ui green">here</a>
</h5>
{% endif %}
{% if object.notification_set.all %}
<h3 class="ui green header">New invites</h3>
<table class="ui table">
	<thead>
		<tr>
			<th class="eight wide">From</th>
			<th class="eight wide">Submit</th>
			<th class="eight wide">Cancel</th>
		</tr>
	</thead>
	<tbody>
		{% for notify in object.notification_set.all %}
			<tr>
				<td>
				<a href="{% url "trainer:detail" notify.trainer.pk %}">
				{{ notify.trainer.user.first_name }} {{ notify.trainer.user.last_name }}	
				</a>
				</td>
				<td>
					<a class="refresh" href="{% url "invite:submit" notify.pk %}">
						<i class="green large checkmark icon"></i>
					</a>
				</td>
				<td>
					<a class="refresh" href="{% url "invite:cancel" notify.pk %}">
						<i class="red large remove icon"></i>
					</a>								
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
	<h3 class="ui green header">You don't have any new invites</h3>
{% endif %}