{% load i18n %}

<div class="ui hidden message" id="review_message">
	<i class="close icon"></i>
	<div class="header">
		Review send
	</div>
	<div class="review_content"></div>
</div>
<div class="ui accordion">
	<div class="{% if form.errors %} active {% endif %} title">
		<i class="dropdown icon"></i>
		{% trans "Add review" %}
	</div>
	<div class="{% if form.errors %} active {% endif %} content">
		<form class="ui form" method="post" action="{% url "review:create" pk %}" id="review_create">
			{% csrf_token %}
			<div class="two fields">
				<div class="required {% if form.first_name.errors %} error {% endif %} field">
					<label> {{ form.first_name.label }} :</label>
					{{ form.first_name.errors }}
					{{ form.first_name }}
				</div>
				<div class="required {% if form.last_name.errors %} error {% endif %} field">
					<label> {{ form.last_name.label }} :</label>
					{{ form.last_name.errors }}
					{{ form.last_name }}
				</div>
			</div>
			<div class="required {% if form.description.errors %} error {% endif %} field">
				<label> {{ form.description.label }} :</label>
				{{ form.description.errors }}
				<textarea rows="2" name="{{ form.description.name }}"></textarea>
			</div>
			<div class="{% if form.rate.errors %} error {% endif %} field">
				<label> {{ form.rate.label }} :</label>
				{{ form.rate.errors }}
				{{ form.rate }}
			</div>
			<div class="field">
				<button class="ui blue button" type="submit" name="add_review">{% trans "Add review" %}</button>
			</div>
		</form>
	</div>
</div>
<script type="text/javascript">
	$('#review_create').submit(function(event){
		event.preventDefault();
		var form = $(this);
		var message = $('#review_message');
		message.attr('class', 'ui hidden message');
		message.find('.review_content').html('');
		$.post({
			url : $(this).attr('action'),
			data : form.serialize()
		}).done(function(data){
			if (data['saved']) {
				$('#reviews').prepend(data['review']);
				message.addClass('positive');
				form[0].reset();
				form.closest('.ui.accordion').accordion('close', 0);
			}
			else {
				message.addClass('error');
				if (data['errors']) {
					message.find('.review_content').html(data['errors']);			
				}
			}
			message.find('.header').html(data['message']);
			message.removeClass('hidden');
		});
	});
</script>