{% load i18n %}

<div class="ui hidden message" id="message_message">
	<i class="close icon"></i>
	<div class="header">
		Message send
	</div>
	<div class="message_content"></div>
</div>
<div class="ui accordion">
	<div class="{% if form.errors %} active {% endif %} title">
		<i class="dropdown icon"></i>
		{% trans "Send message" %}
	</div>
	<div class="{% if form.errors %} active {% endif %} content">
		<form class="ui form" method="post" action="{% url "message:send" pk %}" id="message_create">
			{% csrf_token %}
			<div class="required {% if form.first_name.errors %} error {% endif %} field">
				<label> {{ form.first_name.label }} :</label>
				{{ form.first_name.errors }}
				{{ form.first_name }}
			</div>
			<div class="two fields">
				<div class="required {% if form.phone.errors %} error {% endif %} field">
					<label> {{ form.phone.label }} :</label>
					{{ form.phone.errors }}
					{{ form.phone }}
				</div>
				<div class="required {% if form.email.errors %} error {% endif %} field">
					<label> {{ form.email.label }} :</label>
					{{ form.email.errors }}
					{{ form.email }}
				</div>
			</div>
			<div class="required {% if form.text.errors %} error {% endif %} field">
				<label> {{ form.text.label }} :</label>
				{{ form.text.errors }}
				<textarea rows="2" name="{{ form.text.name }}"></textarea>
			</div>
			<div class="field">
				<button class="ui blue button" type="submit" name="send_message">Send</button>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
	$('#message_create').submit(function(event){
		event.preventDefault();
		var form = $(this);
		var message = $('#message_message');
		message.attr('class', 'ui hidden message');
		message.find('.message_content').html('');
		$.post({
			url : $(this).attr('action'),
			data : form.serialize()
		}).done(function(data){
			if (data['sended']) {
				form[0].reset();
				message.addClass('positive');
				form.closest('.ui.accordion').accordion('close', 0);
			}
			else {
				message.addClass('error');
				if (data['errors']) {
					message.find('.message_content').html(data['errors']);			
				}		
			}
			message.find('.header').html(data['message']);
			message.removeClass('hidden');
		});
	});
</script>