{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="row">
	<div class="column">
		<h1 class="ui header centered">{% trans "Sign Out" %}</h1>
		<h3 class="ui header">{% trans 'Are you sure you want to sign out?' %}</h3>
		<form method="post" action="{% url 'account_logout' %}">
			{% csrf_token %}
			{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
			{% endif %}
			<button type="submit" class="ui button">{% trans 'Sign Out' %}</button>
		</form>
	</div>
</div>

{% endblock %}
