{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
	<div class="row">
		<div class="column">
	    <h1 class="ui centered header">{% trans "Password Reset" %}</h1>
	    
	    {% if user.is_authenticated %}
	    {% include "account/snippets/already_logged_in.html" %}
	    {% endif %}
	    
	    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
	    </div>
    </div>
{% endblock %}
