{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
	<div class="row">
		<div class="column">
	    <h1 class="ui centered header">{% trans "Change Password" %}</h1>
	    <form method="POST" action="{% url 'account_change_password' %}" class="password_change ui form">
	        {% csrf_token %}
	        {% for field in form %}
                <div class="field">
                    <label>{{ field.label }}:</label>
                    {{ field }}
                </div>
            {% endfor %}
	        <button class="ui button" type="submit" name="action">{% trans "Change Password" %}</button>
	    </form>
	    </div>
    </div>
{% endblock %}
