{% load socialaccount %}
{% get_social_accounts object.user as accounts %}
{% load i18n %}

{% if accounts %}
<p>
<span class="ui small header">{% trans "Social accounts" %}:</span>
	{% if accounts.facebook %}
		<a href="{{ accounts.facebook.0.extra_data.link }}" target="_blank" class="ui tiny blue header">Facebook</a>
	{% else %}
		<a href="{% provider_login_url "facebook" method="oauth2" process="connect" %}&next={% url "trainer:settings" %}">
		Facebook
		<i class="mini add icon"></i>
		</a>
	{% endif %}
	{% if accounts.google %}
		<span class="ui tiny blue header">Google</span>
	{% else %}
		<a href="{% provider_login_url "google" method="oauth2" process="connect" %}&next={% url "trainer:settings" %}">
			Google
			<i class="mini green add icon"></i>
		</a>
	{% endif %}
</p>
{% endif %}
<form action="" method="post" class="ui form">
	{% csrf_token %}
	<div class="two fields">
		<div class="field">
			<label>{{ form.first_name.label }}:</label>
			{{ form.first_name }}
		</div>
		<div class="field">
			<label>{{ form.last_name.label }}:</label>
			{{ form.last_name }}
		</div>
	</div>
	<div class="two fields">
		<div class="field">
			<label>{{ form.phone.label }}</label>
			{{ form.phone }}
		</div>
		<div class="field">
			<label>{{ form.certificate.label }}</label>
			{{ form.certificate }}
		</div>
	</div>
	<div class="two fields">
		<div class="field">
			<label>{{ form.country.label }}</label>
			{{ form.country }}
		</div>
		<div class="field">
			<label for="id_city">City:</label>
			<select id="id_city" name="city">
				<option value="{{ my_city.id }}" selected>{{ my_city.name_std }}</option>
			</select>
		</div>	
	</div>
	<div class="fields">
		<div class="field">
			<button class="ui blue button" name="update">{% trans "Update" %}</button>
		</div>
		<div class="field">
			<button class="ui orange button" name="cancel">{% trans "Cancel" %}</button>
		</div>
	</div>
</form>