{% load i18n %}

{% if object.gym_trainers.all %}
<table class="ui table">
	<thead>
		<tr>
			<th class="eight wide">{% trans "Gym" %}</th>
			<th class="eight wide">{% trans "Delete" %}</th>
		</tr>
	</thead>
	<tbody>
		{% for gym in object.gym_trainers.all %}
		<tr>
			<td><a href="{% url "gym:detail" gym.pk %}">{{ gym }}</a></td>
			<td>
				<a class="refresh" href="{% url "support:remove" gym.pk object.pk %}">
					<i class="large red remove icon"></i>
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
	<h3 class="ui header">
		{% trans "You don't have any gyms, where you are working." %}
	</h3>
	<h5 class="ui header">
		{% url "gym:list" as gym_list_url %}
		{% blocktrans %} 
			Advise: You can find they <a href="{{ gym_list_url }}" class="ui green">here</a>
		{% endblocktrans %}
	</h5>
{% endif %}
{% if object.notification_set.all %}
<h3 class="ui green header">{% trans "New invites" %}</h3>
<table class="ui table">
	<thead>
		<tr>
			<th class="eight wide">{% trans "From" %}</th>
			<th class="eight wide">{% trans "Submit" %}</th>
			<th class="eight wide">{% trans "Cancel" %}</th>
		</tr>
	</thead>
	<tbody>
		{% for invite in invites %}
		<tr>
			<td><a href="{% url "gym:detail" invite.gym.pk %}">{{ invite.gym }}</a></td>
			<td>
				<a href="{% url "invite:submit" invite.pk %}" class="refresh">
					<i class="large green checkmark icon"></i>
				</a>
			</td>
			<td>
				<a href="{% url "invite:cancel" invite.pk %}" class="refresh">
					<i class="large red remove icon"></i>
				</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<h3 class="ui green header">{% trans "You don't have any new invites" %}</h3>
{% endif %}