{% load i18n %}

<h4 class="ui centered header">{% trans "Max 5 photos." %}</h4>
<div class="ui small images">
	{% for photo in object.photos.all %}
		<div class="ui image">
			<div class="moon-image">
				<a class="ui tiny right corner label" href="">
					<i class="remove icon"></i>
				</a>
				{% if photo.avatar %}
				<a class="ui tiny green left corner label" href="">
					<i class="user icon"></i>
				</a>
				{% else %}
				<a class="ui tiny left corner label" href="">
					<i class="user icon"></i>
				</a>
				{% endif %}
				<img src="{{ photo.photo.url }}">
			</div>
		</div>
	{% endfor %}
</div>
<form action="{% url "trainer:photo_save" %}" method="post" class="dropzone" enctype="multipart/form-data">
	{% csrf_token %}
</form>