{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="row">
	<div class="column">
		<h1 class="ui centered header">{% trans "Sign In" %}</h1>
		{% get_providers as socialaccount_providers %}
		{% if socialaccount_providers %}
			<p>{% blocktrans with site.name as site_name %}Please sign in with one
			of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
			for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
			<div class="socialaccount_ballot">
				<ul class="socialaccount_providers">
					{% include "socialaccount/snippets/provider_list.html" with process="login" %}
				</ul>
				<div class="login-or">{% trans 'or' %}</div>
			</div>
			{% include "socialaccount/snippets/login_extra.html" %}
		{% else %}
			<p>{% blocktrans %}If you have not created an account yet, then please
			<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
		{% endif %}
	</div>
</div>

<div class="row">
	<div class="column">
	<form class="login ui form" method="POST" action="{% url 'account_login' %}">
		{% csrf_token %}
		<div class="required {% if form.login.errors %} error {% endif %} field">
			<label>{{ form.login.label }}:</label>
			{{ form.login }}
		</div>
		<div class="required {% if form.password.errors %} error {% endif %} field">
			<label>{{ form.password.label }}:</label>
			{{ form.password }}
		</div>
		<div class="{% if form.remember.errors %} error {% endif %} field">
			<label>{{ form.remember.label }}:</label>
			{{ form.remember }}
		</div>

		{% if redirect_field_value %}
		<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		{% endif %}
		<a class="button secondaryAction ui button" href="{% url 'account_reset_password' %}">
			{% trans "Forgot Password?" %}
		</a>
		<button class="primaryAction ui button blue" type="submit">{% trans "Sign In" %}</button>
	</form>
	</div>
</div>
{% endblock %}