{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="column">
        <h1 class="ui centered header">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="column">
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset ui form">
            {% csrf_token %}
            {% for field in form %}
                <div class="two fields">
                    <div class="field">
                        <label>{{ field.label }}:</label>
                        {{ field }}
                    </div>
                    <div class="field"></div>
                </div>
            {% endfor %}
            <input type="submit" class="ui button blue" value="{% trans 'Reset My Password' %}" />
        </form>
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}
