{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="column">
        <h1 class="ui centered header">
            {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
        </h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
            {% if form %}
                <form class="ui form" method="POST" action=".">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="field">
                            <label>{{ field.label }}:</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <input class="ui button" type="submit" name="action" value="{% trans 'Change password' %}"/>
                </form>
            {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
        {% endif %}
        </div>
    </div>
{% endblock %}
