{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row">
	<div class="column">		
	<h1 class="ui centered header">{% trans "Sign Up" %}</h1>
	
	<h5 class="ui header">{% blocktrans %}
		Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
	{% endblocktrans %}</h5>
	
	<div class="row">
		<div class="column">
			{% get_providers as socialaccount_providers %}
			{% if socialaccount_providers %}
				{% blocktrans %}
					Sign up for a {{ site_name }} account and sign in below:
				{% endblocktrans %}
				<div class="socialaccount_ballot">
					<ul class="socialaccount_providers">
						{% include "socialaccount/snippets/provider_list.html" with process="login" %}
					</ul>
					<div class="login-or">{% trans 'or' %}</div>
				</div>
				{% include "socialaccount/snippets/login_extra.html" %}
			{% else %}
				<p>{% blocktrans %}If you have not created an account yet, then please
				<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
			{% endif %}
		</div>
	</div>

	<form class="signup ui form" id="signup_form" method="post" action="{% url 'account_signup' %}">
		{% csrf_token %}
		{% for field in form.visible_fields %}
			<div class="required {% if field.errors %} error {% endif %} field">
				<label>{{ field.label }}</label>
				{{ field }}
			</div>
		{% endfor %}
		{% if redirect_field_value %}
		<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		{% endif %}
		<button type="submit" class="ui button blue">{% trans "Sign Up" %}</button>
	</form>
	</div>
</div>

{% endblock %}