{% load staticfiles %}
{% load i18n %}

<div class="center aligned three column row">
	<div class="column">
		<div class="fotorama"
			data-fit="cover"
			data-width="300"
			data-height="250"
			data-nav="thumbs"
		>
		{% for photo in object.photos.all %}
			<img src="{{ photo.photo.url }}">
		{% empty %}
			<img src="{% static "image/no-image.png" %}">
		{% endfor %}
		</div>
	</div>
	<div class="column">
		{% if opened %}
			<p><h4 class="ui green header">{% trans "Opened" %}</h4></p>
		{% else %}
			<p><h4 class="ui red header">{% trans "Closed" %}</h4></p>
		{% endif %}
		{% if object.homepage_url %}
		<p><a class="ui blue header link" target="blank" href="{{ object.homepage_url }}">{% trans "Homepage" %}</a></p>
		{% endif %}
		<p><h4 class="ui header">{{ object.name }}</h4></p>
		<p><h4 class="ui header">{{ object.address.country }}, {{ object.address.city }}</h4></p>
		<p><h4 class="ui header">{{ object.user.email }}</h4></p>
		<div class="ui list">
			{% for open in object.openhours_set.all %}
				<div class="item">{{ open.get_weekday_display }} : {{ open.from_hour|time:"H:i" }} - {{ open.to_hour|time:"H:i" }}</div>
			{% endfor %}
		</div>
	</div>
	<div class="column">
		<div class="map" id="map-{{ object.pk }}"></div>
	</div>
</div>
{% if invite %}
<div class="center aligned row">
	<div class="column">
		<a href="{% url "invite:invite" object.pk request.user.trainer.pk 0 %}" class="ui green button active" id="invite">
			{% trans "Invite gym" %}
		</a>
	</div>
</div>
{% endif %}
<span hidden="" id="lat-{{ object.pk }}">{{ object.address.point.x }}</span>
<span hidden="" id="lng-{{ object.pk }}">{{ object.address.point.y }}</span>