{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="row">
	<div class="sixteen wide column">
		<form class="ui form" id="gym_filter_form" onsubmit="sendFilterRequest(); return false;">
			<div class="fields">
				{% csrf_token %}
				{% for field in filter_form %}
					<div class="four wide field">
						{{ field }}
					</div>
				{% endfor %}
				<div class="four wide field">
					<button class="ui blue button" name="filter">{% trans "Search" %}</button>
				</div>
			</div>
		</form>
	</div>
	<div class="ui negative message my-hidden my-alert" id="filter_alert">
		<i class="close icon"></i>
		<div class="header">
			{% trans "Please fill at least one field" %}
		</div>
	</div>
</div>
<div class="row">
	<div class="ten wide computer six wide mobile column">
        <div class="ui items" id="gym_list">
        </div>
	</div>
	<div class="four wide computer eight wide mobile column">
        <div class="row">
            <p>
                <div class="column">
                    <div id="map_filter"></div>
                </div>
            </p>
        </div>
	</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOdhwFBpoArtAQGNVMWn36MniSQTg-5SI&libraries=visualization">
</script>
<script type="text/javascript" src="{% static "js/filter.js" %}"></script>
{% endblock %}