{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="column">
        <h2 class="ui centered header">{% trans "Gym Register" %}</h2>
        <h4 class="ui header {% if form.errors or address.errors %} red {% else %} green {% endif %} centered">
            ** All fields are required **
        </h4>
    </div>
</div>
<div class="row">
    <div class="column">
        <form action="" method="post" class="ui form preregister">
            {% csrf_token %}
            <div class="two fields">
                <div class="required field {% if form.name.errors %} error {% endif %}">
                    <label>{{ form.name.label }}:</label>
                    {{ form.name }}
                </div>
                <div class="required field {% if form.homepage_url.errors %} error {% endif %}">
                    <label>{{ form.homepage_url.label }}:</label>
                    {{ form.homepage_url }}
                </div>
            </div>
            <div class="two fields">
                <div class="required field {% if address.country.errors %} error {% endif %}">
                    <label>County:</label>
                    {{ address.country }}
                </div>
                <div class="required field {% if address.city.errors %} error {% endif %}">
                    <label>City:</label>
                    {{ address.city }}
                </div>
            </div>
            <div class="required field {% if address.street.errors %} error {% endif %}">
                <label>Street:</label>
                {{ address.street }}
            </div>
            <div class="field">
                <div class="map"></div>
            </div>
            <div class="field">
                <button type="submit" class="ui green button" name="control_address" id="control_address">{% trans "Control address" %}</button>
            </div>
            <div class="field">
                <button type="submit" class="ui blue button" name="register">{% trans "Register" %}</button>
            </div>
        </form>
    </div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOdhwFBpoArtAQGNVMWn36MniSQTg-5SI&libraries=visualization"></script>
<script type="text/javascript" src="{% static "js/google-maps.js" %}"></script>
{% endblock %}