{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
	<div class="row">
		<div class="column">
			<h3 class="ui blue centered header">{% trans "Please, add information about gym." %}</h3>
		</div>
	</div>

	<div class="row">
		<div class="column">
			<div class="ui tabular menu">
				<a class="active item" data-tab="details">{% trans "Details" %}</a>
				<a class="item" data-tab="photos">{% trans "Photos" %}</a>
				<a class="item" data-tab="trainers">{% trans "Trainers" %}</a>
				<a class="item" data-tab="openhours">{% trans "Open hours" %}</a>
				<a class="item" data-tab="user">{% trans "User details" %}</a>
				<a class="item" data-tab="payments">{% trans "Payments" %}</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="ui active tab" data-tab="details">
				{% include "gym/settings/details.html" %}
			</div>
			<div class="ui tab" data-tab="photos">
				{% include "gym/settings/photos.html" %}
			</div>
			<div class="ui tab" data-tab="trainers">
				{% include "gym/settings/trainers.html" %}
			</div>
			<div class="ui tab" data-tab="openhours">
				{% include "gym/settings/openhours.html" %}
			</div>
			<div class="ui tab" data-tab="user">
				{% include "support/settings/user_details.html" %}
			</div>
			<div class="ui tab" data-tab="payments">
				{% include "support/settings/payments.html" %}
			</div>
		</div>
	</div>
<!-- 	<script async defer	
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOdhwFBpoArtAQGNVMWn36MniSQTg-5SI&libraries=visualization">
	</script> -->
	<script type="text/javascript" src="{% static "js/google-maps.js" %}"></script>
{% endblock %}