{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<div class="row">
		<div class="column">
			<form class="ui form" action="" method="POST" autocomplete="off">
				{% csrf_token %}
				<div class="field">
					<div id="payment-form"></div>
				</div>
				<div class="field">
					<button class="ui button blue" type="submit">
						{% blocktrans %} Pay {{ price }} {% endblocktrans %}
					</button>
					<a href="{% url "support:tariff_select" %}" class="ui button">{% trans "Back to tariff" %}</a>
				</div>
			</form>
		</div>
	</div>
	<script src="https://js.braintreegateway.com/js/braintree-2.24.1.min.js"></script>
	<script>

	var clientToken = '{{ request.user.clienttoken.token }}'; 
	braintree.setup(clientToken, "dropin", {
		container: "payment-form"
	});
	</script>
{% endblock %}