{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="column">
		<form class="ui form" action="" method="POST">
		    {% csrf_token %}
		    {% for field in form %}
		    <div class="field">
				<label>{{ field.label }}:</label>
				{{ field }}
		    </div>
		    {% endfor %}
		    <div class="field">
			    <input type="submit" class="ui button" value="Proceed" />
			</div>
		</form>
	</div>
</div>
{% endblock %}