{% load help_tags %}
{% load staticfiles %}
{% load i18n %}

{% if trainer_list %}
<div class="ui items">
	{% for object in trainer_list.objects %}
	<div class="item">
		<div class="ui">
			<div class="fill-image-small">
				{% if not object.photos|avatar %}
				<img  src="{% static "image/not_found.png" %}">
				{% else %}
				<img src="{{ object.photos|avatar }}">
				{% endif %}
				</div> <br>
			<div class="rating-block">
			<div class="ui mini star rating" data-rating="{{ object|average_rating }}" data-max-rating="5"></div>
			</div>
			<p class="review-count-block">(reviews : {{ object.reviews.count }})</p>
		</div>
		<div class="content">
			<!-- <div class="right floated content">
				<div class="ui huge star rating" data-rating="{{ object|average_rating }}" data-max-rating="5"></div>
				<p style="text-align: center;font-size: 10px;">(review count : {{ object.reviews.count }})</p>
			</div> -->
			<a href="{% url "trainer:detail" object.pk %}" class="header">
				{{ object.first_name }} {{ object.last_name }}
			</a>
			{% if object.user == request.user %}
				<h5 class="ui green header">Me</h5>
			{% endif %}
			{% if object.city %}
			<div class="meta">
				<span>{{ object.country }}, {{ object.city }}</span>
			</div>
			{% endif %}
			<div class="description">
				{% for gym in object.gym_trainers.all|query_cut:1 %}
					<a href="{% url "gym:detail" gym.pk %}" class="modal-gym" 
					modal-id="gym-{{ gym.pk }}" gym-id="{{ gym.pk }}">
						{{ gym }}{% if not forloop.last %},{% endif %} 
					</a>
					<div class="ui modal modal-gym-show" id="gym-{{ gym.pk }}">
						<div class="ui grid"></div>
					</div>
				{% endfor %}
			</div>
			<div class="extra">
				<div class="ui list">
					{% for review in object.reviews.all|query_cut:1 %}
						<div class="item" style="font-style: italic">
							&#8220;{{ review.description|cut:70 }}&#8221;
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% if list.objects.has_other_pages %}
<div class="ui pagination menu">
	{% if trainer_list.objects.has_previous %}
	<a class="icon item" href="?page={{ table.objects.previous_page_number }}">
		<i class="left chevron icon"></i>
	</a>
	{% endif %}
	{% comment %}
	{% for page in trainer_list.objects.paginator.num_pages|trange %}
	<a class="item" href="?page={{ page }}">{{ page }}</a>
	{% endfor %}
	{% endcomment %}
	{% if trainer_list.objects.has_next %}
	<a class="icon item" href="?page={{ table.objects.next_page_number }}">
		<i class="right chevron icon" ></i>
	</a>
	{% endif %}
</div>
{% endif %}
{% else %}
<h5>{% trans "No object found" %}</h5>
{% endif %}
<script type="text/javascript">
	function initWithPoint(id){
		var lat = document.getElementById('lat-' + id).innerText;
		var lng = document.getElementById('lng-' + id).innerText;
		var point = {lat: parseFloat(lat), lng: parseFloat(lng)};
		var map = new google.maps.Map(document.getElementById('map-' + id), {
			center: point,
			zoom: 15
		});
		var marker = new google.maps.Marker({
			map: map,
			position: point,
		});
	}
</script>
<script async defer	
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOdhwFBpoArtAQGNVMWn36MniSQTg-5SI&libraries=visualization">
</script>
