<div class="center aligned row">
	<div class="column">
		<p><h4 class="ui header">{{ object.first_name }} {{ object.last_name }}</h4></p>
		<p><h5 class="ui header">{{ object.email }}</h5></p>
		{% if object.phone %}
			<p><h5 class="ui header">{{ object.phone }}</h5></p>
		{% endif %}
		<p><h5 class="ui header">{{ object.country }}, {{ object.city }}</h5></p>
		<p>{{ object.description }}</p>
	</div>
</div>
