{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class="sixteen wide column">
			<form action="" method="get" class="ui form">
				<div class="fields">
					{% csrf_token %}
					{% for field in filter_form %}
						<div class="four wide field">
							<!-- <label>{{ field.label }}</label> -->
							{{ field }}
						</div>
					{% endfor %}
					<div class="four wide field">
						<button class="ui blue button" name="filter">Filter</button>
					</div>
					<div class="four wide field">
						<a href="{% url "training_partner:register" %}" class="ui green button" name="add" id="modal-register-proposal-btn">Add Proposal</a>
						<div class="ui modal modal-register-proposal-show" id="modal-register-proposal">
							<div class="ui grid">
								<div class="center aligned row">
									<div class="column">
										<p><h4 class="ui header">Add new proposal</h4></p>
										<form action="" method="post" class="ui form">
											{% csrf_token %}
											<div class="field {% if register_form.first_name.errors %} error {% endif %}">
												<label>First Name:</label>
												{{ register_form.first_name }}
											</div>
											<div class="field {% if register_form.last_name.errors %} error {% endif %}">
												<label>Last Name:</label>
												{{ register_form.last_name }}
											</div>
											<div class="field {% if register_form.email.errors %} error {% endif %}">
												<label>{{ register_form.email.label }}:</label>
												{{ register_form.email }}
											</div>
											<div class="field {% if register_form.description.errors %} error {% endif %}">
												<label>{{ register_form.description.label }}:</label>
												{{ register_form.description }}
											</div>
											<div class="two fields">
												<div class="field {% if register_form.country.errors %} error {% endif %}">
													<label>County:</label>
													{{ register_form.country }}
												</div>
												<div class="field {% if register_form.city.errors %} error {% endif %}">
													<label>City:</label>
													{{ register_form.city }}
												</div>
											</div>
											<div class="field">
												<button type="submit" class="ui blue button" name="register">Add</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
	<div class="fourteen wide column">
			{% include "training_partner/partner_list.html" %}
	</div>
{% endblock %}