{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row">
	<div class="column">
	    <h2 class="ui header">{% trans "Sign Up" %}</h2>
	</div>
</div>
<div class="row">
	<div class="column">
		{% url "account_login" as signin_url %}
		{% blocktrans with provider_name=account.get_provider.name site_name=site.name %} Email is already registered in our system, please <a href="{{ signin_url }}"> sign in </a> and connect your {{ provider_name }} account.
		<p>
		You are about to use your {{ provider_name }} account to login to
		{{ site_name }}. As a final step, please complete the following form:{% endblocktrans %}
		</p>
	</div>
</div>
<div class="row">
	<div class="column">
		<form class="signup ui form" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
			{% csrf_token %}
			{% for field in form %}
				<div class="field">
					<label>{{ field.label }}:</label>
					{{ field }}
				</div>
			{% endfor %}
			{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}
			<div class="field">
				<button type="submit" class="ui button blue">{% trans "Sign Up" %} </button>
			</div>
		</form>
	</div>
</div>
{% endblock %}