{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}
<div class="row">
	<div class="column">
		<h1 class="ui header">{% trans "Social Network Login Failure" %}</h1>
	</div>
</div>
<div class="row">
	<div class="column">
		<p>{% trans "An error occurred while attempting to login via your social network account." %}</p>
	</div>
</div>
{% endblock %}
