{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Connections" %}{% endblock %}

{% block content %}
<div class="row">
	<div class="column">
		<h1 class="ui header">{% trans "Account Connections" %}</h1>
	</div>
</div>

<div class="row">
	<div class="column">
		{% if form.accounts %}
		<p>
		{% blocktrans %}You can sign in to your account using any of the following third party accounts:{% endblocktrans %}
		</p>

		<form class="ui form" method="post" action="{% url 'socialaccount_connections' %}">
			{% csrf_token %}
			{% if form.non_field_errors %}
			<div id="errorMsg">{{ form.non_field_errors }}</div>
			{% endif %}
			{% for base_account in form.accounts %}
			{% with base_account.get_provider_account as account %}
			<div class="fields">
				<label for="id_account_{{ base_account.id }}">
				<input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
				<span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}">{{account.get_brand.name}}</span>
				{{ account }}
				</label>
			</div>
			{% endwith %}
			{% endfor %}
			<div class="field">
				<button type="submit" class="ui button">{% trans 'Remove' %}</button>
			</div>
		</form>

		{% else %}
		<p>{% trans 'You currently have no social network accounts connected to this account.' %}</p>
		{% endif %}
	</div>
</div>

<div class="row">
	<div class="column">
		<h3 class="ui header">{% trans 'Add a 3rd Party Account' %}</h3>
		<ul class="socialaccount_providers">
		{% include "socialaccount/snippets/provider_list.html" with process="connect" %}
		</ul>
	</div>
</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endblock %}
