{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block content %}
<div class="row">
	<div class="column">
		<h2 class="ui header">{% trans "Login Cancelled" %}</h2>
	</div>
</div>
{% url 'account_login' as login_url %}
<div class="row">
	<div class="column">
		{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}
	</div>
</div>
{% endblock %}
