{% load staticfiles %}
{% load help_tags %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <title>MyTrainer</title>
    <link rel="stylesheet" type="text/css" href="{% static "semantic/semantic.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/dropzone.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/fotorama.css" %}">
    <script type="text/javascript" src="{% static "js/jquery-1.12.2.js" %}"></script>
</head>
<body>
    <div class="ui grid">
        <div class="row top-menu">
            <div class="column">
                <div class="ui {% if request.user.is_anonymous %} four {% else %} three {% endif %} item menu">
                    <a href="{% url "support:home" %}" class="item">{% trans "Trainers" %}</a>
                    <a href="{% url "gym:list" %}" class="item">{% trans "Gyms" %}</a>
                    <a href="{% url "training_partner:list" %}" class="item">Training Partners</a>
                    {% if request.user.is_anonymous %}
                    <a href="{% url "account_signup" %}" class="item">{% trans "Register" %}</a>
                    <a href="{% url "account_login" %}" class="item">{% trans "Login" %}</a>
                    {% else %}
                    <div class="ui pointing dropdown item">
                        <div class="text">{% trans "Me" %}</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                        {% if request.user.gym %}
                            <a href="{% url "gym:detail" request.user.gym.id %}" class="item">{% trans "Profile" %}</a>
                            <a href="{% url "message:show" %}" class="item">{% trans "Messages" %}</a>
                            <a href="{% url "gym:settings" %}" class="item">{% trans "Settings" %}</a>
                        {% elif request.user.trainer %}
                            <a href="{% url "trainer:detail" request.user.trainer.id %}" class="item">{% trans "Profile" %}</a>
                            <a href="{% url "message:show" %}" class="item">{% trans "Messages" %}</a>
                            <a href="{% url "trainer:settings" %}" class="item">{% trans "Settings" %}</a>
                        {% else %}
                            <a href="{% url "trainer:register" %}" class="item">{% trans "Trainer" %}</a>
                            <a href="{% url "gym:register" %}" class="item">{% trans "Gym" %}</a>
                        {% endif %}
                            <div class="ui divider"></div>
                            <a href="{% url "account_logout" %}" class="item">{% trans "Logout" %}</a>
                        </div>
                    </div>                  
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="ui grid container">
        <div class="row">
            <div class="column">
                {% get_available_languages as languages %}
                    {% for lang_code, lang_name in languages %}
                        <a class="change_lang" rel="alternate" hreflang="{{ lang_code }}" href="{% change_lang lang_code %}"> 
                            {{ lang_name }} 
                        </a>
                    {% endfor %}
            </div>
        </div>
        {% block content %}
        {% endblock %}
        </div>
    </div>
    <script type="text/javascript" src="{% static "semantic/semantic.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "js/cities.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dropzone.js" %}"></script>
    <script type="text/javascript" src="{% static "js/address.js" %}"></script>
    <script type="text/javascript" src="{% static "js/fotorama.js" %}"></script>
    <script type="text/javascript">
        if (window.location.hash && window.location.hash == '#_=_') {
            history.pushState("", document.title, window.location.pathname);
        }
    </script>
</body>
</html>