{% load help_tags %}
{% load staticfiles %}
{% if trainer_partner_list %}
<div class="ui items">
	{% for object in trainer_partner_list.objects %}
	<div class="ui card">
		<div class="content">
		  	<div class="header">{{ object.first_name }} {{ object.last_name}}</div>
		  	<div class="meta">{{ object.country }} {{ object.city }}<span style="float:right">{{ object.created }}</span></div>
		    <div class="description">
		      <p>{{ object.description|cut:140 }}</p>
		    </div>
	    </div>
		<a href="{% url "training_partner:detail" object.pk %}" class="ui bottom attached button modal-training-partner" 
					modal-id="training_partner-{{ object.pk }}" training-partner-id="{{ object.pk }}">
	      	Open
	    </a>
	    <div class="ui modal modal-training-show" id="training_partner-{{ object.pk }}">
			<div class="ui grid">
				<div class="center aligned row">
					<div class="column">
						<p><h4 class="ui header">Add new proposal</h4></p>
						<form action="" method="post" class="ui form">
							{% csrf_token %}
							<div class="field {% if register_form.first_name.errors %} error {% endif %}">
								<label>First Name:</label>
								{{ register_form.first_name }}
							</div>
							<div class="field {% if register_form.last_name.errors %} error {% endif %}">
								<label>Last Name:</label>
								{{ register_form.last_name }}
							</div>
							<div class="field {% if register_form.email.errors %} error {% endif %}">
								<label>{{ register_form.email.label }}:</label>
								{{ register_form.email }}
							</div>
							<div class="field {% if register_form.description.errors %} error {% endif %}">
								<label>{{ register_form.description.label }}:</label>
								{{ register_form.description }}
							</div>
							<div class="two fields">
								<div class="field {% if register_form.country.errors %} error {% endif %}">
									<label>County:</label>
									{{ register_form.country }}
								</div>
								<div class="field {% if register_form.city.errors %} error {% endif %}">
									<label>City:</label>
									{{ register_form.city }}
								</div>
							</div>
							<div class="field">
								<button type="submit" class="ui blue button" name="register">Add</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% if list.objects.has_other_pages %}
<div class="ui pagination menu">
	{% if trainer_partner_list.objects.has_previous %}
	<a class="icon item" href="?page={{ table.objects.previous_page_number }}">
		<i class="left chevron icon"></i>
	</a>
	{% endif %}
	{% comment %}
	{% for page in trainer_partner_list.objects.paginator.num_pages|trange %}
	<a class="item" href="?page={{ page }}">{{ page }}</a>
	{% endfor %}
	{% endcomment %}
	{% if trainer_partner_list.objects.has_next %}
	<a class="icon item" href="?page={{ table.objects.next_page_number }}">
		<i class="right chevron icon" ></i>
	</a>
	{% endif %}
</div>
{% endif %}
{% else %}
<h5>No object found</h5>
{% endif %}
