{% extends "base.html" %}
{% load help_tags %}
{% load socialaccount %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_PI/sdk.js#xfbml=1&version=v2.6&appId=1714741482131110";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<div class="center aligned row">
		<div class="column">
			<div class="ui huge star rating" data-rating="{{ rating }}" data-max-rating="5"></div>
		</div>
	</div>
	<div class="right aligned row">
		<div class="column">
			<div class="fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button" data-mobile-iframe="true"></div><div class="g-plus" data-action="share" data-annotation="none" data-height="24"></div>
		</div>
	</div>

	<div class="center aligned row">
		<div class="six wide column">
			<div class="fotorama"
				data-width="300"
				data-height="250"
				data-nav="thumbs"
			>
			{% for photo in object.photos.all %}
				<img src="{{ photo.photo.url }}">
			{% empty %}
				<img src="{% static "image/not_found.png" %}">
			{% endfor %}
			</div>
		</div>
		<div class="four wide column">
			{% get_social_accounts object.user as accounts %}
			{% if accounts.facebook %}
				<a href="{{ accounts.facebook.0.extra_data.link }}" target="_blank" class="ui blue header">Facebook</a>
			{% endif %}
			<p><h4 class="ui header">{{ object.first_name }} {{ object.last_name }}</h4></p>
			{% if object.country %}
				<p><h4 class="ui header">{{ object.country }}, {{ object.city }}</h4></p>
			{% endif %}
			{% if object.phone %}
				<p><h4 class="ui header">{{ object.phone }}</h4></p>
			{% endif %}
			<p><h4 class="ui header">{{ object.user.email }}</h4></p>
		</div>
	</div>
	
	{% if invite %}
	<div class="center aligned row">
		<div class="column">
			<a href="{% url "invite:invite" request.user.gym.pk object.pk 1 %}" class="ui green button active" id="invite">
				Invite trainer
			</a>
		</div>
	</div>
	{% endif %}
	
	<div class="row">
	{% with pk=object.id %}
		{% with form=review_form %}
		<div class="eight wide column parent">
			{% include "review/create.html" %}
		</div>
		{% endwith %}
		{% with form=message_form %}
		<div class="eight wide column">
			{% include "message/create.html" %}
		</div>
		{% endwith %}
	{% endwith %}
	</div>

	<div class="row">
		<div class="column">
				<div class="ui relaxed divided list" id="reviews">
				{% for review in object.reviews.all %}
					<div class="item">
						<div class="right floated content">
							<div class="ui header"> {{ review.get_rate_display }} </div>
						</div>
						<div class="content">
							<div class="header">{{ review.first_name }} {{ review.last_name }}</div>
							<div class="description">{{ review.description }}</div>
							<div class="meta">{{ review.created }}</div>
						</div>
					</div>
				{% empty %}
					<h3 class="ui header">{% trans "Don't have yet" %}</h3>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}