{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div class="row">
	<div class="column">
		<div class="ui styled fluid accordion">
			{% for message in object_list %}
			<div class="title">
				<i class="dropdown icon"></i>
				{{ message.first_name }} {{ message.last_name }}
				{{ message.phone }} {{ message.email }}
			</div>
			<div class="content">
				{{ message.text }}
			</div>
			{% empty %}
				<h3 class="ui header">{% trans "No messages" %}</h3>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}