{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<div class="row">
		<div class="sixteen wide column">
			<form action="" method="get" class="ui form">
				<div class="fields">
					{% csrf_token %}
					{% for field in filter_form %}
						<div class="four wide field">
							{{ field }}
						</div>
					{% endfor %}
					<div class="four wide field">
						<button class="ui blue button" name="filter">{% trans "Filter" %}</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
	<div class="fourteen wide column">
			{% include "support/trainer_list.html" %}
	</div>
{% endblock %}