{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<div class="row">
		<div class="column">
			<h2 class="ui centered header">{% trans "Please, select a tariff" %}</h2>
		</div>
	</div>
	<div class="equal width row">
		{% for tariff, params in tariffs.items %}
		<div class="column">
			<a href="{% url "payment:create" tariff %}" class="ui card">
				<div class="content">
					<div class="header">{{ tariff }}</div>
					<div class="description">
						for {{ params.days }} day, {{ params.price }} Kč
					</div>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
{% endblock %}