<<<<<<< HEAD
{% load staticfiles %}
{% load i18n %}

<form class="ui form preregister" action="" method="post">
=======
<form class="ui form" action="" method="post">
>>>>>>> f05861d027f63da359789129484f87ba03d5c6a6
	{% csrf_token %}
	<div class="two fields">
		<div class="field">
			<label>{{ form.name.label }}:</label>
			{{ form.name }}
		</div>
		<div class="field">
			<label>{{ form.homepage_url.label }}:</label>
			{{ form.homepage_url }}
		</div>
	</div>
	<div class="two fields">
		<div class="field">
			<label>{{ address.country.label }}:</label>
			{{ address.country }}
		</div>
		<div class="field">
			<label>{{ address.city.label }}:</label>
			<select id="id_city" name="city">
				<option value="{{ my_city.id }}" selected>{{ my_city.name_std }}</option>
				{% for city in cities %}
					<option value="{{ city.id }}">{{ city.name_std }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<input hidden="" id="id_point" name="point"></input>
	<div class="field">
		<label>{{ address.street.label }}:</label>
		{{ address.street }}
	</div>
	<div class="field">
		<span hidden="" id="lat">{{ object.address.point.x }}</span>
		<span hidden="" id="lng">{{ object.address.point.y }}</span>
<<<<<<< HEAD
		<div class="map init"></div>
	</div>
	<div class="field">
		<button type="submit" class="ui blue button" name="update" id="update">{% trans "Update" %}</button>
	<button type="submit" class="ui green button" name="control_address" id="control_address">
		{% trans "Control address" %}
	</button>
	</div>
</form>
<script async defer	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOdhwFBpoArtAQGNVMWn36MniSQTg-5SI&libraries=visualization"></script>
<script type="text/javascript" src="{% static "js/google-maps.js" %}"></script>
=======
		<div class="map"></div>
	</div>
	<div class="field">
		<button type="submit" class="ui blue button" name="update" id="update">Update</button>
	<button type="submit" class="ui green button" name="control_address" id="control_address">
		Control address
	</button>
	</div>
</form>
>>>>>>> f05861d027f63da359789129484f87ba03d5c6a6
