<h4 class="ui centered header">Max 5 photos.</h4>
<div class="ui small images">
	{% for photo in object.photos.all %}
		<div class="ui image" id="photo-{{ photo.pk }}">
			<div class="moon-image">
				<a class="ui tiny right corner label delete-link" 
				href="{% url "gym:photo_delete" photo.pk %}" delete-id="photo-{{ photo.pk }}" data-title="Remove photo">
					<i class="remove icon"></i>
				</a>
				<a class="ui tiny {% if photo.avatar %} green {% endif %} left corner label set-avatar" href="" data-title="Make avatar">
					<i class="user icon"></i>
				</a>
				<img src="{{ photo.photo.url }}">
			</div>
		</div>
	{% endfor %}
</div>
<form action="{% url "gym:photo_save" %}" method="post" class="dropzone" enctype="multipart/form-data">
	{% csrf_token %}
</form>