{% extends "base.html" %}
{% load socialaccount %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
	<div class="row">
		<div class="column">
			<h2 class="ui centered header">{% trans "Trainers Register" %}</h2>
			<h4 class="ui header green centered">** {% trans "All fields are required" %} **</h4>
			{{ form.errors }}
		</div>
	</div>

	<div class="row">
		<div class="column">
			<form action="" method="post" class="ui form">
			{% csrf_token %}
				<div class="two fields">
					<div class="required field {% if form.first_name.errors %} error {% endif %}">
						<label>{{ form.first_name.label }}:</label>
						{{ form.first_name }}
					</div>
					<div class="required field {% if form.last_name.errors %} error {% endif %}">
						<label>{{ form.last_name.label }}:</label>
						{{ form.last_name }}
					</div>
				</div>
				<div class="required field {% if form.phone.errors %} error {% endif %}">
					<label>{{ form.phone.label }}:</label>
					{{ form.phone }}
				</div>
				<div class="two fields">
					<div class="required field {% if form.country.errors %} error {% endif %}">
						<label>{{ form.country.label }}:</label>
						{{ form.country }}
					</div>
					<div class="required field {% if form.city.errors %} error {% endif %}">
						<label>City:</label>
						<select id="id_city" name="city">
							<option value="">{% trans "Please, select the country" %}...</option>
						</select>
					</div>
				</div>
				<div class="field">
					<button type="submit" class="ui blue button">{% trans "Register" %}</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}