{% extends "base.html" %}
{% load socialaccount %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
	<div class="row">
		<div class="column">
			<h3 class="ui blue centered header">{% trans "Please, fill your profile." %}</h3>
		</div>
	</div>

	<div class="row">
		<div class="column">
			<div class="ui tabular menu">
				<a class="active item" data-tab="details">{% trans "Details" %}</a>
				<a class="item" data-tab="photos">{% trans "Photos" %}</a>
				<a class="item" data-tab="gyms">{% trans "Gyms" %}</a>
				<a class="item" data-tab="user">{% trans "User details" %}</a>
				<a class="item" data-tab="payments">{% trans "Payments" %}</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="column">
			<div class="ui active tab" data-tab="details">
				{% include "trainer/settings/details.html" %}
			</div>
			<div class="ui tab" data-tab="photos">
				{% include "trainer/settings/photos.html" %}
			</div>
			<div class="ui tab" data-tab="gyms">
				{% include "trainer/settings/gyms.html" %}
			</div>
			<div class="ui tab" data-tab="user">
				{% include "support/settings/user_details.html" %}
			</div>
			<div class="ui tab" data-tab="payments">
				{% include "support/settings/payments.html" %}
			</div>
		</div>
	</div>
{% endblock %}