<div class="item">
    <div class="right floated content">
        <div class="ui header"> {{ review.get_rate_display }} </div>
    </div>
    <div class="content">
        <div class="header">{{ review.first_name }} {{ review.last_name }}</div>
        <div class="description">{{ review.description }}</div>
        <div class="meta">
            {{ review.created }}
        </div>
    </div>
</div>