.fill-image {
	display: inline-block;
	border-radius: 5px;
	width: 150px;
	height: 150px;
	overflow: hidden;
	margin-right: 5px;
	margin-bottom: 5px;
}

.fill-image-small {
	display: inline-block;
	border-radius: 5px;
	width: 75px;
	height: 75px;
	overflow: hidden;
	margin-right: 5px;
}

.fill-image img, .fill-image-small img {
	padding: 0 !important;
	margin: 0 !important;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*.fill-image-small img {
	padding: 0 !important;
	margin: 0 !important;
	width: 100%;
	height: 100%;
	object-fit: cover;
}*/

.top-menu {
	margin-bottom: 20px;
}

.map, #map_filter {
	width: 100%;
	height: 500px;
}

.modal-gym-show {
	padding: 2em;
}

.my-visible {
	opacity: 1;
}

.my-hidden {
	opacity: 0;
}

.my-alert {
	transition: opacity 1s !important;
}

.ui.items > .inline-item {
	width: 49%;
	display: inline-flex;
	min-width: 159px;
}

.rating-block {
	justify-content: center;
	align-content: center;
	padding-right: 5px;
	flex-flow: column wrap;
	display: flex;
}

.review-count-block {
	text-align: center;
	font-size: 10px;
	padding-right: 5px;
}