{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	{% include "gym/content_detail.html" %}
	<script type="text/javascript">
	function initMap() {
		var point = {
			lat: parseFloat(document.getElementById('lat-{{object.pk}}').innerHTML), 
			lng: parseFloat(document.getElementById('lng-{{object.pk}}').innerHTML)
		};
		map = new google.maps.Map(document.getElementsByClassName('map')[0], {
			center: point,
			zoom: 15,
			disableDefaultUI: true
		});
		marker = new google.maps.Marker({
			map: map,
			position: point,
			draggable: false
		});
	}
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOdhwFBpoArtAQGNVMWn36MniSQTg-5SI&libraries=visualization&callback=initMap">
	</script>
{% endblock %}
