<a class="item inline-item">
    <div class="ui small fill-image"><img></div>
    <div class="middle aligned content">
      <div class="header"></div>
      <div class="meta">
       <span></span>
      </div>
      <div class="description">
        <p></p>
      </div>
    </div>
</a>