{% load help_tags %}
{% load staticfiles %}
{% load i18n %}

{% if gym_list %}
		{% for object in gym_list.objects %}
                <a class="item inline-item" href="{% url "gym:detail" object.pk %}">
                    <div class="ui small fill-image">
                       <img  src="/static/image/not_found.png">
                    </div>
                    <div class="middle aligned content">
                      <div class="header">{{ object.name }}</div>
                      <div class="meta">
                        <span>{{ object.address.country }}, {{ object.address.city }}, {{ object.address.street }}</span>
                      </div>

                      <div class="description">
                        <p></p>
                      </div>
                    </div>
                </a>
		{% endfor %}
	{% if list.objects.has_other_pages %}
		<div class="ui pagination menu">
			{% if trainer_list.objects.has_previous %}
			<a class="icon item" href="?page={{ table.objects.previous_page_number }}">
					<i class="left chevron icon"></i>
			</a>
			{% endif %}
			{% comment %}
					{% for page in trainer_list.objects.paginator.num_pages|trange %}
							<a class="item" href="?page={{ page }}">{{ page }}</a>
					{% endfor %}
			{% endcomment %}
			{% if trainer_list.objects.has_next %}
			<a class="icon item" href="?page={{ table.objects.next_page_number }}">
					<i class="right chevron icon" ></i>
			</a>
			{% endif %}
		</div>
	{% endif %}
{% else %}
	<h5>{% trans "No object found" %}</h5>
{% endif %}
<div class="row">
	<div class="column">
		<div id="map"></div>
	</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOdhwFBpoArtAQGNVMWn36MniSQTg-5SI&libraries=visualization">
</script>
<script type="text/javascript" src="{% static "js/google-maps.js" %}"></script>