<div class="row">
	<div class="column">
		<h2 class="ui centered header"> Payment History </h2>
		<a href="{% url "support:tariff_select" %}">Buy new tariff</a>
		<table class="ui table striped">
			<thead>
				<tr>
					<th> Tariff Type </th>
					<th> Created </th>
					<th> Status </th>
					<th> Amount </th>
				</tr>
			</thead>
			<tbody>
				{% for payment in request.user.payment_set.all %}
					<tr>
						<td> {{ payment.tariff_type }} </td>
						<td> {{ payment.created }} </td>
						<td> {{ payment.status }} </td>
						<td> {{ payment.amount }} </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<table class="ui table striped">
			<thead>
				<tr>
					<th> Tariff Type </th>
					<th> Valid from </th>
					<th> Valid to </th>
				</tr>
			</thead>
			<tbody>
				{% for tariff in request.user.paidtariff_set.all %}
					<tr class="{% if tariff.actual %} positive {% endif %}">
						<td> {{ tariff.tariff_type }} </td>
						<td> {{ tariff.valid_from }} </td>
						<td> {{ tariff.valid_to }} </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>