<form class="ui form" method="post" action="{% url "support:user_update" object.user.pk %}">
	{% csrf_token %}
	<div class="field">
		<label>{{ user_form.email.label }}:</label>
		{{ user_form.email }}
	</div>
	<div class="two fields">
		<div class="field">
			<label>{{ user_form.old_password.label }}:</label>
			{{ user_form.old_password }}
		</div>
		<div class="field">
			<label>{{ user_form.new_password.label }}:</label>
			{{ user_form.new_password }}
		</div>
	</div>
	<button type="submit" class="ui blue button">Update</button>
</form>